.labelLogin
{
    display: block;
    color:darkblue;
    text-align: center;
    background-color:#FFF;
    font-size: 24px;
    font-weight: bold;
}

.btnLogin
{
    display: block;
    background-color:darkblue;
    text-align: center;
    color:#FFF;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.bntfunzione:first-of-type
{
    margin-top:20px
}
.bntfunzione
{    
    text-align: center;    
    margin-bottom: 20px;
    padding: 3%;
    border-radius: 2%;
    background-color: darkblue;
    color:#FFF;
    font-size: 2em;
}

.labeltarga,.titolofotografie
{
    display: block;
    color:darkblue;
    text-align: center;
    background-color:#FFF;
    font-size: 24px;
    font-weight: bold;
}

.txttarga
{
    width: 100%;
    font-size:20px;
}

.btnsavetarga
{
    display: block;
    position: relative;
    margin:0 auto;
    background-color:darkblue;
    text-align: center;
    color:#FFF;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    width: 70%;
    margin:10% auto;
}

.thumbs-item.new::before
{
        content: '+';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    font-size: 3em;
    margin-right: 0px;
    margin-top: 0px;
    background-color: green;
    border-radius: 50%;
    line-height: 53px;
    text-align: center;
    color: #FFF;
    cursor: pointer;
}

.thumbscontainer
{
    background-color: transparent;
}

.synk
{
    display: none;
    position: fixed;
    bottom:45px;
    text-align: center;
    background-color: green;
    color:#FFF;
    padding:2%;
    left:0;
}

.waitpanel
{
    display: none;
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    color:#FFF;
    font-size:30px;
    text-align: center;
    line-height: 30px;
    padding-top: 40%;
}